@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

// http://colorhunt.co/c/106735

body {
  padding-top: 10px;
}

figure {
  width: 200px;
  height: auto;
  margin: 5px;
}

figcaption {
  margin: 10px 5px;
}

#editButton {
	// background: none;
  background: url(img/edit-icon.svg) center no-repeat;
}


.album-image {
	max-height: 280px;
}

div.divider {
  background-color: black;
}

footer {
  background-color: black;
  color: white;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 80px;
}
