{% extends 'layout.html' %}

{% block title %}Album - {{album.name}}{% endblock %}

{% block body %}

  <h1>{{album.name}}</h1>
  <p>{{album.description}}</p>

  <a href="{% url 'albums:update' pk=album.id %}" class="button small float-right">Edit Album</a>
  <br/>


    <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
      {% for photo in album.photo_set.all %}
          <figure class="thumbnail" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{photo.image.url}}" itemprop="contentUrl" data-size="{{photo.image.width}}x{{photo.image.height}}">
                  <img src="{{photo.image.url}}" itemprop="thumbnail" alt="{{photo.image.name}}" />
              </a>
              <figcaption itemprop="caption description">{{photo.caption|truncatechars:23}}</figcaption>
          </figure>
      {% endfor %}
    </div>

{% endblock %}
