{% extends 'layout.html' %}

{% block title %}Album - {{album.name}}{% endblock %}

{% block body %}

  <h1>{{album.name}}</h1>
  <p>{{album.description}}</p>

  <a href="{% url 'albums:update' pk=album.id %}" class="button small float-right">Edit Album</a>
  <br/>

  <div class="row">
    {% for photo in album.photo_set.all %}
      <div class="columns large-4">
        <a href="{% url 'photos:update' pk=photo.id %}">
          <img src="{{photo.image.url}}" alt="{{photo.image.name}}" class="thumbnail" />
        </a>
        <p>{{photo.caption}}</p>
      </div>
    {% endfor %}  </div>

{% endblock %}
