{% extends 'layout.html' %}

{% block title %}Albums{% endblock %}

{% block body %}
  <div class="row">
    <div class="columns 10">
      <h1>Albums</h1>
      <br/>
    </div>
    <div class="columns 2">
      <br/>
      <a href="/albums/unsorted" class="button small float-right">Unsorted</a>
    </div>
  </div>

    <div class="row">
        {% for album in albums %}
          <div class="columns large-4">
            <br/>
            <a href="{% url 'albums:detail' pk=album.id %}">
              {{album.name}}
            </a>
            <br/>
            {% if album.photo_set.first and album.photo_set.first.image %}
              <a href="{% url 'albums:detail' pk=album.id %}">
                <img class="album-image" src="{{ album.photo_set.first.image.url }}" alt="{{album.name}}" />
              </a>
            {% else %}
              <a href="{% url 'albums:detail' pk=album.id %}">
                <img src="https://via.placeholder.com/150x250?text=No photo... yet." alt="{{album.name}}" />
              </a>
            {% endif %}
          </div>
        {% endfor %}
    </div>
{% endblock %}
