{% extends 'layout.html' %}

{% block title %}Album - {{album.name}}{% endblock %}

{% block body %}

  <h1>{{album.name}}</h1>
  <p>{{album.description}}</p>

  <a href="{% url 'albums:update' pk=album.id %}" class="button small float-right">Edit Album</a>
  <br/>


    <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
      {% for photo in album.photo_set.all %}
        <figure class="thumbnail photo" data-id="{{photo.id}}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          {% if photo.image %}
              <a href="{{photo.image.url}}" itemprop="contentUrl" data-size="{{photo.image.width}}x{{photo.image.height}}">
                  <img src="{{photo.image.url}}" itemprop="thumbnail" alt="{{photo.image.name}}" data-id="{{photo.id}}" />
              </a>
          {% else %}
              <a href="{% url 'photos:update' pk=photo.id %}" itemprop="contentUrl" data-size="200x300">
                  <img src="https://via.placeholder.com/150x250?text=No image... bad upload?" itemprop="thumbnail" alt="bad upload..." data-id="{{photo.id}}" />
              </a>
          {% endif %}
          <figcaption itemprop="caption description">{{photo.caption|truncatechars:23}}</figcaption>
        </figure>

      {% endfor %}
    </div>

  <div class="reveal" id="selectModal" data-reveal>
    <h3>Photo Actions</h3>

    <h4>Add To Album</h4>
    <div id="album-list"></div>
    {% csrf_token %}
    <br/>

    <button class="button small success remove-photos" data-id="{{album.id}}">Remove from {{album.name}}</button>
    <button class="button tiny alert float-right delete-photos">Delete Photos</button>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <script type="text/javascript">
    var token = "{{user.auth_token.key}}";
  </script>
{% endblock %}
