@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

body {
  padding-top: 10px;
}

figure {
  width: 200px;
  height: auto;
  margin: 5px;
}

figcaption {
  margin: 10px 5px;
}
