{% extends 'layout.html' %}

{% block title %}
  {% if not form.instance.pk %}Add Photo{% else %}Edit {{form.instance.image.name}}{% endif %}
{% endblock %}

{% block body %}
    <h1>{% if not form.instance.pk %}Add Photo{% else %}Edit {{form.instance.image.name}}{% endif %}</h1>
    <br/>

    {% if form.instance.pk %}
      <small><strong>Uploaded On:</strong> {{photo.created_at|date:"m/d/Y h:m:s"}}</small>
      <br/>
    {% endif %}

    <br/>

    <div class="row">
      <div class="columns large-4">

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <input type="submit" class="button" value="Save Photo" />
          <a href="{% url 'photos:list' %}"  class="button secondary float-right">Cancel</a>
        </form>
        <br/>

        {% if form.instance.pk %}
          <a href="{% url 'photos:delete' pk=photo.id %}" class="float-right button tiny alert">Delete</a>
        {% endif %}
      </div>
    </div>
{% endblock %}
