{% extends 'layout.html' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <h1>All Photos</h1>
    <br/>

    <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
      {% for photo in photos %}
          <figure class="thumbnail" data-id="{{photo.id}}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{photo.image.url}}" itemprop="contentUrl"  data-size="{{photo.image.width}}x{{photo.image.height}}">
                  <img src="{{photo.image.url}}" itemprop="thumbnail" alt="{{photo.image.name}}" data-id="{{photo.id}}"/>
              </a>
              <figcaption itemprop="caption description">{{photo.caption|truncatechars:23}}</figcaption>
          </figure>
      {% endfor %}
    </div>
{% endblock %}
