{% extends 'layout.html' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <h1>All Photos</h1>
    <br/>
    <div class="row">

    <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
      {% for photo in photos %}
          <figure class="thumbnail" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{photo.image.url}}" itemprop="contentUrl" data-size="{{photo.image.width}}x{{photo.image.height}}">
                  <img src="{{photo.image.url}}" itemprop="thumbnail" alt="{{photo.image.name}}" />
              </a>
              <figcaption itemprop="caption description">{{photo.caption}}</figcaption>
          </figure>
      {% endfor %}
    </div>

    <!-- <script type="text/javascript">
      window.photos = [
        {% for photo in photos %}
          {
              src: "{{photo.image.url}}",
              w: {{photo.image.width}},
              h: {{photo.image.height}}
          },
        {% endfor %}
      ];
    </script> -->
{% endblock %}
