{% extends 'layout.html' %}

{% block title %}Photos{% endblock %}

{% block body %}
    <h1>All Photos</h1>
    <br/>

    <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
      {% for photo in photos %}
          <figure class="thumbnail" data-id="{{photo.id}}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
              <a href="{{photo.image.url}}" itemprop="contentUrl"  data-size="{{photo.image.width}}x{{photo.image.height}}">
                  <img src="{{photo.image.url}}" itemprop="thumbnail" alt="{{photo.image.name}}" data-id="{{photo.id}}"/>
              </a>
              <figcaption itemprop="caption description">{{photo.caption|truncatechars:23}}</figcaption>
          </figure>
      {% endfor %}
    </div>

    <br/>

  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {% if page_obj.has_previous %}
      <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous <span class="show-for-sr">page</span></a></li>
    {% endif %}

      <li><a href="#" aria-label="Page {{page_obj.number}}">{{page_obj.number}}</a></li>

    {% if page_obj.has_next %}
      <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    {% endif %}
  </ul>
{% endblock %}
