{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photolandia | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/default-skin/default-skin.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="columns.small-12.links">
          <ul class="menu dropdown" data-dropdown-menu>
            <li>
              <a href="/">Photolandia</a>
              <ul class="menu">
                {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                    <li>
                      <a href="/admin">Admin</a>
                    </li>
                  {% endif %}
                  <li>
                    <a href="/accounts/logout">Logout</a>
                  </li>
                {% else %}
                  <li><a href="/accounts/login">Login</a></li>
                  <li><a href="/accounts/signup">Signup</a></li>
                {% endif %}
              </ul>
            </li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/albums">Albums</a></li>
            <li>
              <a href="{% url 'photos:create' %}">
                <svg version="1.1" baseProfile="basic"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px"
                 viewBox="0 0 128 128" xml:space="preserve">
                <path transform="matrix(0.128,0,0,0.128,0,12)" stroke="none" style="fill:#020205" d="M 1000 613 C 1000 640 978 661 951 661 L 849 661 L 849 764 C 849 790 827 812 800 812 C 774 812 752 790 752 764 L 752 661 L 650 661 C 623 661 601 640 601 613 C 601 586 623 565 650 565 L 752 565 L 752 462 C 752 436 774 414 800 414 C 827 414 849 436 849 462 L 849 565 L 951 565 C 978 565 1000 586 1000 613 z M 397 384 L 294 292 L 173 506 L 720 506 L 720 462 C 720 451 722 440 726 430 L 583 244 L 397 384 z M 720 694 L 650 694 C 608 694 574 662 570 622 L 129 622 L 129 129 L 829 129 L 829 387 C 859 399 881 428 881 462 L 881 532 L 951 532 C 953 532 956 533 958 533 L 958 108 C 958 48 910 0 850 0 L 108 0 C 48 0 0 48 0 108 L 0 642 C 0 702 48 751 108 751 L 720 751 L 720 694 z"/>
              </svg>
              </a>
            </li>
            <li>
              <a href="{% url 'albums:create' %}">
                <svg version="1.1" baseProfile="basic"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px"
                   viewBox="0 0 128 128" xml:space="preserve">
                  <path transform="matrix(0.128,0,0,0.128,0,10)" stroke="none" style="fill:#020205" d="M 1000 234 L 820 234 L 727 0 L 0 288 L 214 830 L 246 817 L 1000 817 L 1000 234 z M 748 234 L 318 234 L 690 87 L 748 234 z M 87 325 L 217 274 L 217 654 L 87 325 z M 932 750 L 284 750 L 284 301 L 932 301 L 932 750 z M 867 687 L 349 687 L 476 558 L 547 607 L 695 409 L 755 485 L 779 474 L 867 687 z M 349 427 C 349 392 378 364 413 364 C 448 364 476 392 476 427 C 476 463 448 491 413 491 C 378 491 349 463 349 427 z"/>
                </svg>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="columns small-12">
          {% if messages %}
            <div class="row">
              <div class="columns small-6">
                {% for message in messages %}
                  <div class="callout {{message.tags}}" data-closable>
                    {{message}}
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/photoswipe.min.js"></script>
    <script type="text/javascript" src="/assets/js/photoswipe-ui.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/ds.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--edit" id="editButton" title="Edit"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
  </body>
</html>
